Source: python-qtermwidget
Section: python
Priority: optional
Maintainer: Lliurex Team <lliurex@gva.es>
Build-Depends: debhelper (>= 10), libqtermwidget5-0-dev, qt5-default, python3-sip-dev, python3-pyqt5, python3-pyqt5-dev, pyqt5-dev
Standards-Version: 4.1.2
Homepage: http://www.lliurex.net
#Vcs-Git: https://anonscm.debian.org/git/collab-maint/python-qtermwidget.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/python-qtermwidget.git

Package: python3-qtermwidget
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, libqtermwidget5-0, python3-pyqt5
Description: python bindings to use qtermwidget on qt apps
 Binding to qtermwidget
